::-webkit-scrollbar {
    width: .8em;
    height: 100%;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: .8em;
}

::-webkit-scrollbar-thumb:hover {
    background: #414141;
    border-radius: .8em;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #252525;
}

.icon-image {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

header {
	height: 70px;
	width: 100%;
	padding: 10px 4% 10px;
	background-color: #363636;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
    z-index: 1;
}

header div a p {
	 margin: 0;
	 padding: 0;
	 font-size: 20px;
     color: #999999;
}

header div h4 {
	 margin: 0 0 2px;
	 padding: 0;
	 font-size: 10px;
}

header a {
	text-decoration: none;
	color: #4b4b4b;
}

header ul {
	 list-style: none;
	 margin: 0;
	 display: flex;
}

header li {
	 margin: 0 0 0 15px;
	 font-size: 14px;
}

.left {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 100%;
    display: flex;
}

.right ul {
    margin-left: auto;
    margin-right: 10%;
}

.menu-sns-icon {
    height: 120%;
    width: 120%;
}

.menu-content {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.menu-content {
    color: #999;
}

.menu-content:hover {
    color: #acacac;
}

.menu-content-un-li {
	text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #33277a;
}

.modern-box {
    width: 80%;
    margin:2em 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0.5em 1.5em;

    background: #1b1b1b;/*背景色*/
    border-left: double 7px #999;/*左線*/
    border-right: double 7px #999;/*右線*/

    display: flex;
}

.modern-box::before::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.modern-box::before {left: 10px;}
.modern-box::after {right: 10px;}

.modern-box img {
    height: 50%;
    width: 50%;
}

.box-content {
    margin-top: 0;
    margin-left: 10px;
    width: 100%;
}

.box-content .title {
    padding: 0;
    color: rgb(201, 201, 201);
    font-size: 20px;
    text-align: center;
}

.box-content .discription {
    padding: 0;
    color: #999;
    font-size: 15px;
    text-align: left;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 3rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn {
    text-align: center;
    vertical-align: center;
}

a.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
  }
  
a.btn-border:hover {
    color: #fff;
    background: #000;
}
  
.footer {
  margin: 0;
  padding: .5em;
  position: relative;
  top: 30px;
  background-color: #1b1b1b;
}

.footer a,
.footer p {
    color: #999;
    text-align: center;
    font-size: .5rem;
}

.footer hr {
    height: 1px;
    border: none;
    background-color: rgb(145, 145, 145);
    align-items: center;
}

.footer .section {
    width: 80%;
    align-items: center;
    border-top: 4px #999;
}

.footer .right{
    text-align: center;
}

.content {
    margin: 0;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content .page-title {
    padding-top: 1em;
    padding-bottom: 0;
    color: rgb(201, 201, 201);
    font-size: larger;
    font-style: bold;
}

.content .detail-title {
    padding-top: 1em;
    padding-bottom: 0;
    color: #c9c9c9;
    font-size: large;
    font-style: bold;
}

.content .column-title {
    padding-top: .5em;
    padding-bottom: 0;
    color: #c9c9c9;
    font-size: medium;
    font-style: bold;
}

.content hr {
    height: 1px;
    border: none;
    background-color: rgb(145, 145, 145);
    align-items: center;
}

.content .detail-text {
    color: #999999;
}

.content .table {
}

.table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    background-color: #1E1E1E;
}

.table .header {
    color: rgb(201, 201, 201);
    border-bottom: 2px rgb(56, 56, 56) solid;
}

.table .content {
    color: #999;
    text-align: right;
}

td img {
    width: 100%;
}

.download-table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    background-color: #1E1E1E;
    padding: .2em;
}

.download-table .header {
    color: rgb(112, 112, 112);
    font-style: small;
    text-align: left;
    font-size: .4em;
    padding: 0 1em;
}

.download-table .content {
    color: rgb(204, 204, 204);
    text-align: center;
    font-size: large;
    font-style: bold;
}

.download-table-item {
}
  
.download-button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.download-button:hover {
    background-color: #e5802e;
    box-shadow: 0px 15px 20px rgba(229, 165, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.download-button,
a.download-button,
button.download-button {
    height: unset;
    width: unset;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left:1rem;
    padding-right: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.download-button {
    text-align: center;
    vertical-align: center;
}

a.download-button-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
  }
  
a.download-button-border:hover {
    color: #fff;
    background: #000;
}
  
.old-download-button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.old-download-button:hover {
    background-color: #e5802e;
    box-shadow: 0px 15px 20px rgba(229, 165, 46, 0.4);
    color: #000;
    transform: translateY(-7px);
}

.old-download-button,
a.old-download-button,
button.old-download-button {
    height: unset;
    width: unset;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left:1rem;
    padding-right: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: rgb(167, 167, 167);
    border-radius: 0.5rem;
}

a.old-download-button {
    text-align: center;
    vertical-align: center;
}

a.old-download-button-border {
    border: 1px solid #fff;
    border-radius: 0;
    background: #000;
  }
  
a.old-download-button-border:hover {
    color: #000;
    border: 1px solid rgb(167, 167, 167);
    background: rgb(167, 167, 167);
}

.content .download-title {
    padding-top: .5em;
    padding-bottom: 0;
    color: rgb(201, 201, 201);
    font-size: normal;
    font-style: bold;
}

.content .filename {
    color: #c26c26;
}

.content .caution {
    color: #ca276b;
}

.content .warning {
    color: #ca2727;
}

a.link-color-none {
    color: unset;
}

details summary {
    user-select: none;
}

.info-list li > *{
    display: inline-block;
}

/*p.cat-info {
    margin: 0 10px 0 0;
    padding: 0 6px;
    border: 1px #777777 solid;
    border-radius: 2px;
    font-size: 76.9%;
    font-weight: bold;
    line-height: 18px;
    color: #777777;
}

p.cat-significant {
    margin: 0 10px 0 0;
    padding: 0 6px;
    border: 1px #af7800 solid;
    border-radius: 2px;
    font-size: 76.9%;
    font-weight: bold;
    line-height: 18px;
    color: #af7800;
}*/

.sub-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    background-color: #1e1e1e;
    margin: .5em;
}

.cat-significant::before {
    content: "重要";
    font-size: small;
    color: #ca2727;
    border: 1px #ca2727 solid;
    margin: 0 1em 0 0;
    padding: 0 .2em;
    vertical-align: middle;
}

.cat-notice::before {
    content: "お知らせ";
    font-size: small;
    color: #279cca;
    border: 1px #279cca solid;
    margin: 0 1em 0 0;
    padding: 0 .2em;
    vertical-align: middle;
}

.thanks li {
    display: inline-block;
}

.thanks-table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    background-color: #1E1E1E;
    padding: .2em;
}

.thanks-table .header {
    color: rgb(112, 112, 112);
    font-style: normal;
    text-align: center;
    font-size: .4em;
    padding: 0 1em;
}

.thanks-table .content {
    color: rgb(204, 204, 204);
    text-align: center;
    font-size: large;
    font-style: bold;
}

.thanks-table-item {
}

summary.detail-title,
details.p.detail-text {
    font-size: 1em;
}

.version-table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

.version-table .header {
    color: rgb(201, 201, 201);
    border-bottom: 2px rgb(56, 56, 56) solid;
    font-size: small;
    text-align: left;
}

.version-table .content {
    color: #999;
    text-align: right;
    font-size: large;
    font-weight: bold;
}

.twist summary {
    list-style: none;
    cursor: pointer;
}

.twist summary::-webkit-details-marker {
    display: none;
    cursor: pointer;
}

.information summary::before {
    font-family: "Font Awesome 5 Free";
    content: '\f067';
    margin-right: .5rem;
}

.language-pack {
    border: 5px #202020 double;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

.pack-item {
    border: 2px #1d1d1d solid;
    color: #999999;
    padding: .2em .5em .2em .5em;
    text-align: center;
}

.item-left {
    padding-left: .5em;
    text-align: left;
}